<div class="card mb-3">
  <div class="card-header text-center">
    {{formatDate this.event_date}}
    <span class="badge bg-primary">{{this.elapsed}}</span>
    <span class="badge bg-success">{{this.round}}</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col fs-5 fw-bold d-flex align-items-center">
        <span class="me-2">{{this.homeTeam.team_name}}</span>
        <img class="countryFlag" src="{{this.homeTeam.logo}}" alt="">
      </div>
      <div class="col text-center fs-4">{{this.goalsHomeTeam}} - {{this.goalsAwayTeam}}</div>
      <div class="col text-end fs-5 fw-bold d-flex align-items-center justify-content-end">
        <img class="countryFlag" src="{{this.awayTeam.logo}}" alt="">
        <span class="ms-2">{{this.awayTeam.team_name}}</span>
      </div>
    </div>
  </div>
  <ul class="list-group mt-3 list-group-flush">
      <li class="list-group-item text-center">
        halftime : {{this.score.halftime}}
      </li>
      <li class="list-group-item text-center">
        fulltime : {{this.score.fulltime}}
      </li>
      <li class="list-group-item text-center">
        extratime : {{this.score.extratime}}
      </li>
      <li class="list-group-item text-center">
        penalty : {{this.score.penalty}}
      </li>
  </ul>
</div>